.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
}

.form__controls {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__btns {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.form-path {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
