.nav-list {
  &_sub {
    padding-left: 20px;
  }
}

.nav-item__sublist {
  overflow: hidden;
  &.close {
    height: 0;
  }
}

.nav-item {
  margin-bottom: 2px;
  &:last-child {
    margin-bottom: 0;
  }
  &.active {
    background: #ccc;
  }
}

.nav-item__title {
  display: flex;
  align-items: center;
  padding: 7px 0 7px 10px;
  gap: 10px;
  cursor: pointer;

  @media (min-width: 1280px) {
    &:hover {
      background: #ffdf16;
    }
  }
}

.nav-item__indicator {
  display: block;
  width: 13px;
  height: 13px;

  background-repeat: no-repeat;
  background-size: contain;
  &.close {
    background-image: url("./../image/icon/close-nav.png");
  }
  &.open {
    background-image: url("./../image/icon/open-nav.png");
  }
  &.file {
    background-image: url("./../image/icon/file.png");
  }
}
