.sidebar {
  position: absolute;
  display: flex;
  //background: #fdfdfd;
  min-height: 100%;
  width: 350px;
  //box-shadow: 5px 0 5px rgb(0 0 0 / 25%);
}

.sidebar__content {
  position: relative;
  background: #fdfdfd;
  min-height: 100%;
  width: 100%;
  box-shadow: 5px 0 5px rgb(0 0 0 / 25%);
}

.sidebar__top {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
}

.sidebar__logo {
  width: 140px;
  flex-shrink: 0;
}

.sidebar__title {
  font-size: 18px;
  color: #d61a20;
}
