.sidebar_mini {
  width: 73px;
  .sidebar__title {
    display: none;
  }

  .sidebar__logo {
    width: 100%;
  }

  .search__form {
    padding: 4px 18px 4px 55px;
    &:hover {
      width: 350px;
    }
  }

  .sidebar-nav__link {
    .sidebar-nav__label {
      display: none;
    }
    .sidebar-nav__arrow {
      display: none;
    }
    &:hover {
      width: 350px;
      background: #fdfdfd;
      box-shadow: 0 0 8px 0 rgb(0 0 0 / 25%);
      .sidebar-nav__label {
        display: block;
      }
      .sidebar-nav__arrow {
        display: block;
      }
    }
  }
}
