.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 134px;
  padding: 15px 0px;
  @media (min-width: 1280px) {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
}

.sidebar-top__logo {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.sidebar-top__icon {
  display: flex;
}

.sidebar-top__title {
  font-size: 14px;
  color: #d61a20;
  display: none;
  flex-grow: 1;
  @media (min-width: 1280px) {
    display: block;
    font-size: 18px;
  }
}

.sidebar-top__controls {
  margin-top: auto;
  @media (min-width: 1280px) {
    display: none;
  }
}

.sidebar-top__btn {
  position: relative;
  display: none;
  width: 22px;
  height: 22px;
  opacity: 0.5;
  margin: 0 auto;
  background-image: url("./../image/icon/arrow-right-btn.svg");
  background-repeat: no-repeat;
  background-size: contain;

  &_close {
    transform: rotate(180deg);
    margin: 0 0 0 auto;
  }
  &.show {
    display: block;
  }
  @media (min-width: 1280px) {
    display: none;
    font-size: 18px;
    &.show {
      display: none;
    }
  }
}
